# Version control of configuration files is done via their own repositories.
configs/*

*.h5
*.log

.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
.snakemake/

__pycache__/

build
data/

runlist.html

Untitled*.ipynb
